/* @media (max-width: 482px) {
  .btnSen, .btnInv, .btnCopy {
    margin-top: 2%;
  }
}

@media (max-width: 767px) {
  .btnInv, .btnCopy {
    margin-top: 2%;
  }
}

@media (max-width: 990px) {
  .btnCopy {
    margin-top: 2%;
  }
} */

